h1 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}

.g733 {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.logogeekstore {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: rgb(252, 117, 157);
}

h2 {
    font-size: 25;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    font-size: 20;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}